@import 'mixin';

@font-face {
  font-family: 'GothamRounded-Medium';
  src: url('../fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamRounded-Medium.otf')  format('opentype'),
  url('../fonts/GothamRounded-Medium.woff') format('woff'),
  url('../fonts/GothamRounded-Medium.ttf')  format('truetype'),
  url('../fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded-Book';
  src: url('../fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamRounded-Book.otf')  format('opentype'),
  url('../fonts/GothamRounded-Book.woff') format('woff'),
  url('../fonts/GothamRounded-Book.ttf')  format('truetype'),
  url('../fonts/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRounded-Bold';
  src: url('../fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamRounded-Bold.otf')  format('opentype'),
  url('../fonts/GothamRounded-Bold.woff') format('woff'),
  url('../fonts/GothamRounded-Bold.ttf')  format('truetype'),
  url('../fonts/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GothamRounded-Light';
  src: url('../fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamRounded-Light.otf')  format('opentype'),
  url('../fonts/GothamRounded-Light.woff') format('woff'),
  url('../fonts/GothamRounded-Light.ttf')  format('truetype'),
  url('../fonts/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
}


[class*="grid"] {
  margin: 0;
}

.wrapper{
  margin: 0 auto;
  width: 100%;
  max-width: (1280em/16);
}

.home{
  height: (840em/16);
  background: url("../images/fondo_home.jpg") no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: solid #0D6899 (20em/16);
  z-index: 0;
  &:before{
    position: absolute;
    width: 100%;
    height: (83em/16);
    content: "";
    background: url("../images/barra_azul.png") no-repeat;
    background-size: cover;
    top:50%;
    left: 0;
    z-index: -1;
  }
}

.header{
  margin-top: (45em/16);
  text-align: center;
  a{
    display: block;
  }

  .slogan{
    font-family: GothamRounded-Medium;
    font-size: (20em/16);
    color: #0D6899;
    margin-top: (20em/20);
    display: block;
  }
  .gsv{
    margin-top: (25em/16);
  }

  .services{
    font-family: GothamRounded-Bold;
    font-size: (28em/16);
    color:#0D6899;
    margin-top: (30em/28);
  }
}

.item-list{
  font-family: GothamRounded-Book;
  color: #0D6899;
  font-size: (18em/16);
  list-style: disc;
  line-height: (20em/18);
  margin-top: (30em/18);
  li{
    margin-bottom: (10em/18);
  }
}

.dialog{
  z-index: 99;
  [class*="col-"]{
    text-align: center;
  }
  margin-top: (10em/16);
}

.catalog{
  background: #fff;
  .title{
    font-size: (52em/16);
    font-family: GothamRounded-Medium;
    background: #0D6899;
    color: #fff;
    text-transform: uppercase;
    display: table;
    margin-top: (70em/52);
    padding: (10em/52)  (40em/52) (2em/52) (65em/52);
  }
  .download{
    margin-top: (50em/16);
  }
  .text{
    font-size: (25em/16);
    font-family: GothamRounded-Light;
    color: #58585A;
    position: relative;
    &:before{
      position: absolute;
      width:(10em/16) ;
      height: (1em/16);
      content: "";
      bottom:(0em/16);
      left: (7em/16);
      background: #58585A;
      z-index: 99;
    }
  }
  .pdf-icon{
    text-align: center;
    z-index: 99;
  }
  .instructions{
    margin-top: (30em/16);
    position: relative;
    &:before{
      position: absolute;
      width: (306em/16);
      height: (372em/16);
      content: "";
      background: url("../images/catalogo-img.png") no-repeat;
      background-size: cover;
      top:(-235em/16);
      left: (-201em/16);
    }
  }
}

.news{
  margin-top: (30em/16);
  height: (438em/16);
  .tubos{
    background: url("../images/foto_minivial.jpg");
    background-size: cover;
  }
  .news-info{
    background: url("../images/fondo_minivial.jpg");
    background-size: cover;
  }

  .alert{
    background: #DEDA00;
    color: #ffffff;
    display: table;
    font-size: (30em/16);
    font-family: GothamRounded-Medium;
    text-transform: uppercase;
    padding: 0 (10em/30);
    margin-top: (70em/30);
    margin-left: (70em/30);
    z-index: 4;
    position: relative;
  }

  .mini{
    background: #1DAFEC;
    color: #ffffff;
    display: table;
    font-size: (52em/16);
    font-family: GothamRounded-Book;
    text-transform: uppercase;
    padding: (15em/52) 0 0 (70em/52);
    width: 102%;
    margin: (-10em/52) 0 0;
    z-index: 3;
    position: relative;
    box-sizing: border-box;
    span{
      font-family: GothamRounded-Bold;
    }
  }
  p{
    font-size: (25em/16);
    color: #ffffff;
    width: 95%;
    font-family: GothamRounded-Book;
    margin-left: (75em/25);
    display:list-item;
    box-sizing: border-box;
    position: relative;
    &.other-font{
      font-family: GothamRounded-Medium;
      &:before{
        position: absolute;
        width:(10em/16) ;
        height: (1em/16);
        content: "";
        bottom:(-12em/16);
        left: 0;
        background: #ffffff;
        z-index: 99;
      }
    }
  }




  .tube-2{
    margin-top:(50em/16);
    z-index: 9999;
  }
}

.no-margin{
  padding: 0;
}
.contact{
  background: #92DAE9;
  padding: (50em/16) 0;
  .form{
    width: auto;
    height: (529em/16);
    @include border_radius((30em/16));
    @include gradient_v(#DEDEE1,#AEB1B3);
    position: relative;
    margin-left: 15%;
    z-index: 90;

    &:before{
      position: absolute;
      width:(96em/16) ;
      height: (96em/16);
      content: "";
      background: url("../images/contact-icon.png") no-repeat;
      top:(-15em/16);
      left: (-15em/16);
      z-index: 99;
    }
    .title{
      color: #7DBACB;
      font-family: GothamRounded-Medium;
      font-size: (33em/16);
      text-transform: uppercase;
      text-align: center;
      line-height: (40em/16);
      box-sizing: border-box;
    }
    input[type="text"]{
      display: block;
      width: 100%;
      background: #ffffff;
      line-height: (40em/16);
      font-size: (19em/16);
      font-family: GothamRounded-Medium;
      color: #6F7072;
      box-sizing: border-box;
      padding: 0 (12em/19);
      margin-bottom: (25em/19);
    }

    input[type="image"]{
      margin-top: (20em/16);
      float: right;
    }
    textarea{
      width: 100%;
      background: #ffffff;
      height: (170em/16);
      font-size: (19em/16);
      font-family: GothamRounded-Medium;
      color: #6F7072;
      padding: (12em/19);
      box-sizing: border-box;
    }
  }

  .title-2{
    color: #92DAE9;
    background: #ffffff;
    font-family: GothamRounded-Medium;
    font-size: (52em/16);
    text-transform: uppercase;
    text-align: center;
    line-height: (25em/16);
    margin-top: (40em/52);
    position: relative;


    &:before{
      position: absolute;
      width:(108em/52) ;
      height: (109em/52);
      content: "";
      background: url("../images/tel-icon.png") no-repeat;
      top:(-15em/52);
      left: (90em/52);
      z-index: 99;
    }
  }
  .data-contact{
    .text{
      color: #ffffff;
      font-family: GothamRounded-Book;
      font-size: (25em/16);
    }
    .numbers{
      font-size: (42em/16);
      border-radius:(40em/42);
      box-sizing: border-box;
      padding: (25em/42);
      border: solid 1px #ffffff;
      display: table;
      a{
        color: #ffffff;
        font-family: GothamRounded-Medium;
        display: block;
        line-height:(25em/16);
        text-decoration: none;
      }

    }
  }
}


.mobile-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  background: #0D6899;
  z-index: 9999999999;
  width: 100%;
  visibility: hidden;
  img{
    margin-top: (10em/16);
  }
}
.menu-mobile{
  margin-left: (10em/16);
  li{
    float: left;
    margin-right: (10em/16);
    a{
      font-size: (18em/16);
      color: #000;
      font-family: GothamRounded-Medium;
    }
    &:last-child{
      margin-right: 0;
    }
  }

}