@font-face {
  font-family: 'GothamRounded-Medium';
  src: url("../fonts/GothamRounded-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Medium.otf") format("opentype"), url("../fonts/GothamRounded-Medium.woff") format("woff"), url("../fonts/GothamRounded-Medium.ttf") format("truetype"), url("../fonts/GothamRounded-Medium.svg#GothamRounded-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamRounded-Book';
  src: url("../fonts/GothamRounded-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Book.otf") format("opentype"), url("../fonts/GothamRounded-Book.woff") format("woff"), url("../fonts/GothamRounded-Book.ttf") format("truetype"), url("../fonts/GothamRounded-Book.svg#GothamRounded-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamRounded-Bold';
  src: url("../fonts/GothamRounded-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Bold.otf") format("opentype"), url("../fonts/GothamRounded-Bold.woff") format("woff"), url("../fonts/GothamRounded-Bold.ttf") format("truetype"), url("../fonts/GothamRounded-Bold.svg#GothamRounded-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamRounded-Light';
  src: url("../fonts/GothamRounded-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Light.otf") format("opentype"), url("../fonts/GothamRounded-Light.woff") format("woff"), url("../fonts/GothamRounded-Light.ttf") format("truetype"), url("../fonts/GothamRounded-Light.svg#GothamRounded-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  margin: 0;
  padding: 0; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 80em; }

.home {
  height: 52.5em;
  background: url("../images/fondo_home.png") no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: solid #0D6899 1.25em;
  z-index: 0; }
  .home:before {
    position: absolute;
    width: 100%;
    height: 5.1875em;
    content: "";
    background: url("../images/barra_azul.png") no-repeat;
    background-size: cover;
    top: 50%;
    left: 0;
    z-index: -1; }

.header {
  margin-top: 2.8125em;
  text-align: center; }
  .header a {
    display: block; }
  .header .slogan {
    font-family: GothamRounded-Medium;
    font-size: 1.25em;
    color: #0D6899;
    margin-top: 1em;
    display: block; }
  .header .gsv {
    margin-top: 1.5625em; }
  .header .services {
    font-family: GothamRounded-Bold;
    font-size: 1.75em;
    color: #0D6899;
    margin-top: 1.07143em; }

.item-list {
  font-family: GothamRounded-Book;
  color: #0D6899;
  font-size: 1.125em;
  list-style: disc;
  line-height: 1.11111em;
  margin-top: 1.66667em; }
  .item-list li {
    margin-bottom: 0.55556em; }

.dialog {
  z-index: 99;
  margin-top: 0.625em; }
  .dialog [class*="col-"] {
    text-align: center; }

.catalog {
  background: #fff; }
  .catalog .title {
    font-size: 3.25em;
    font-family: GothamRounded-Medium;
    background: #0D6899;
    color: #fff;
    text-transform: uppercase;
    display: table;
    margin-top: 1.34615em;
    padding: 0.19231em 0.76923em 0.03846em 1.25em; }
  .catalog .download {
    margin-top: 3.125em; }
  .catalog .text {
    font-size: 1.5625em;
    font-family: GothamRounded-Light;
    color: #58585A; }
  .catalog .pdf-icon {
    text-align: center;
    z-index: 99; }
  .catalog .instructions {
    margin-top: 1.875em;
    position: relative; }
    .catalog .instructions:before {
      position: absolute;
      width: 19.125em;
      height: 23.25em;
      content: "";
      background: url("../images/catalogo-img.png") no-repeat;
      background-size: cover;
      top: -14.6875em;
      left: -12.5625em; }

.news {
  margin-top: 1.875em;
  height: 27.375em; }
  .news .tubos {
    background: url("../images/tubos.png");
    background-size: cover; }
  .news .news-info {
    background: url("../images/fondo_azul.png"); }
  .news .alert {
    background: #DEDA00;
    color: #ffffff;
    display: table;
    font-size: 1.875em;
    font-family: GothamRounded-Medium;
    text-transform: uppercase;
    padding: 0 0.33333em;
    margin-top: 2.33333em;
    z-index: 4;
    position: relative; }
  .news .mini {
    background: #1DAFEC;
    color: #ffffff;
    display: table;
    font-size: 3.25em;
    font-family: GothamRounded-Book;
    text-transform: uppercase;
    padding: 0.28846em 0 0 1.34615em;
    width: 100%;
    margin: -0.19231em 0 0 -1.53846em;
    z-index: 3;
    position: relative; }
    .news .mini span {
      font-family: GothamRounded-Bold; }
  .news p {
    font-size: 1.5625em;
    color: #ffffff;
    width: 95%;
    font-family: GothamRounded-Book;
    padding-left: 0.4em; }
    .news p.other-font {
      font-family: GothamRounded-Medium; }
  .news .no-margin {
    padding: 0; }
  .news .tube-2 {
    margin-top: 3.125em; }

/*# sourceMappingURL=style.css.map */
